* {
    margin: 0;
}

.headerContainer {

    align-items: center;
    justify-content: space-around;
}

.header {
    display: flex;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}

.header {
    /* width: 200px; */
    height: 85px;
    background-image: url("../images/Water.PNG");
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 10s linear infinite alternate;
}

.NameOfPlayer {
    color: rgb(219, 243, 165);
}

#heart {
    font-size: xx-large;
    color: red;
}

#trophy {
    font-size: xx-large;
    color: gold;
}

#diamond {
    font-size: xx-large;
    color: rgb(231, 250, 161);

}

.on,
.off {
    font-size: xx-large;
    

}

h2 {
    display: inline-block;
}

.NameOfPlayer {
    font-family: cursive;
}

#score,
#noOfHeart,
#highScore {
    font-family: cursive;
}

/* .stoneAreaContainer{
    background-color: gray;
} */

.stoneArea {
    background-image: url("../images/stone.jpg");
    height: 246px;


}

.grassArea {
    background-image: url("../images/grass.jpg");
    height: 203px;


}
/* /////////////////////////// levelUp //////////////////////// */
body {
    margin: 0;
    padding: 0;
}

.game-container{
    position: relative;
}
.levelUpContainer{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
     height: 80vh;
     align-items: center;
     position: absolute;
     top: 2%;
     left: 25%;
     animation: animate .3s linear 1 forwards;
     size: 50px;
}
/* .levelUp{
    font-size: 80px;
    font-family: cursive;
    color: yellow;
    animation: animate .3s linear 3 forwards;
} */

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);

    }

}
.hide{display: none;}
/* //////// game over////////////////////////// */
body {
    margin: 0;
    padding: 0;
}

.gameOverContainer {
    /* height: 100vh; */
    background: #000;
}

video {
    object-fit: cover; 
}



.gameOver {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: gray;
    font-size: 5em;
    font-family: cursive;
    letter-spacing: .1em;
    text-shadow: 10px 13px 15px rgb(121, 96, 96);



}

h1 span {
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);

    }
}

h1 span:nth-child(1) {
    animation-delay: .25s;
}

h1 span:nth-child(2) {
    animation-delay: .5s;
}

h1 span:nth-child(3) {
    animation-delay: .75s;
}

h1 span:nth-child(4) {
    animation-delay: 1s;
}

h1 span:nth-child(5) {
    animation-delay: 1.25s;
}

h1 span:nth-child(6) {
    animation-delay: 1.5s;
}

h1 span:nth-child(7) {
    animation-delay: 1.75s;
}

h1 span:nth-child(8) {
    animation-delay: 2s;
}
h1 span:nth-child(9 ) {
    animation-delay: 2.25s;
}


.hide {
    display: none;
}